@charset "UTF-8";

body{
    background-color: rgb(2, 17, 31);
}
h1{
    color: aliceblue;
    text-align: center;
}
h2{
    color: aliceblue;
    text-align: center;
}
p{
    color: aliceblue;
    text-align: center;
}
a{
    color: rgb(224, 211, 18);
}